<style>

</style>
<!-- <sppiner *ngIf="isLoad"></sppiner> -->

<div style="margin-top: 10px;" class="alert alert-success" *ngIf='ismessage'>{{message}}</div>
<div class="alert alert-danger" *ngIf='invalidtLogin'>has an errors </div>
<div class="col-5 mx-auto">
  <div class="card ">
    <div class="card-header"><strong>Network</strong> <small>Form</small></div>
    <div class="card-body">
      <form [formGroup]="form" (submit)="save()">
        <div class="row">

        <div class="form-group">
          <label for="company">Name</label>
          <input  [class.is-invalid]="(isValid('name') || errors?.name)"
           [class.is-valid]="isInputValid('name')"
          formControlName="name" [(ngModel)]="networks.name" name="name"  class="form-control" id="name"
          type="text" placeholder="Enter name " required  >
          <div [class.invalid-feedback]="isValid('name') || errors?.name"  *ngIf="isValid('name') || errors?.name ">
            <span *ngFor="let err of messageError('name')">{{ err }}</span>
            <span *ngFor="let err of errors?.name">{{ err }}</span>
          </div>

        </div>

        <div class="form-group">
          <label for="expidition">expidition</label>
          <input [class.is-invalid]="(isValid('expidition') || errors?.expidition)"
           [class.is-valid]="isInputValid('expidition')" [(ngModel)]="networks.expidition"  formControlName="expidition" name="expidition"  class="form-control" id="expidition"
          type="checkbox"  required >
          <div [class.invalid-feedback]="isValid('expidition') || errors?.expidition"  *ngIf="isValid('expidition') || errors?.expidition ">
            <span *ngFor="let err of messageError('expidition')">{{ err }}</span>
            <span *ngFor="let err of errors?.expidition">{{ err }}</span>
          </div>
        </div>








        <button type="submit" [disabled]="form.errors != null" class="btn btn-block btn-success">Save </button>
      </div>
      </form>
    </div>
  </div>
</div>
