<div [style]="'display:'+ setting.display" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div [class]="'modal-header btn-'+setting.type">
        <h5 class="modal-title">{{setting.title}}</h5>
        <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{setting.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
